:root {
  --dark: hsl(230, 35%, 7%);
  --purple: hsl(231, 77%, 89%);
  --white: #fff;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'arial', sans-serif;
  color: var(--white);
  font-weight: 100;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--white);
}
p {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: var(--purple);
}

button {
  cursor: pointer;
  font-family: 'Bellefair', serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bellefair', serif;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
}
h1 {
  font-size: 90px;
  @media (min-width: 500px) {
    font-size: 120px;
  }
  @media (min-width: 800px) {
    font-size: 150px;
  }
}
h2 {
  font-size: 50px;
  @media (min-width: 500px) {
    font-size: 80px;
  }
  @media (min-width: 800px) {
    font-size: 100px;
  }
}
h3 {
  font-size: 30px;
  @media (min-width: 500px) {
    font-size: 56px;
  }
  @media (min-width: 800px) {
    font-size: 56px;
  }
}
h4 {
  font-size: 20px;
  @media (min-width: 500px) {
    font-size: 32px;
  }
  @media (min-width: 800px) {
    font-size: 32px;
  }
}
h5 {
  font-size: 14px;
  letter-spacing: 1.2px;
  font-family: 'Barlow Condensed', sans-serif;
  @media (min-width: 500px) {
    font-size: 28px;
    letter-spacing: 4.75px;
  }
  @media (min-width: 800px) {
    font-size: 28px;
    letter-spacing: 4.75px;
  }
}

.subheadingbig {
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
}
.subheadingsmall {
  font-size: 14px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
}
.navtext {
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
}
